<%= search_form_for @q do |f| %>

  <%= f.label :Model_cont %>
  <%= f.search_field :model_cont, placeholder: "search car" %>

  <%= f.submit %>
<% end %>
<% @cars.each do |car| %>
<ul>
  <li><%=car.brand%>
    <%= link_to car.model, car_path(car.user_id) %>
  </li>
</ul>
<% end %>
<h5><%= link_to 'Add New Car', new_car_path(user_id: params[:user_id]) %></h5>
