<div> 
  <h2>Here is your complete information about car</h2>
  <table border="collaspe" cellpadding="8">
    <thead>
      <th>Car index number</th>
      <th>Brand</th>
      <th>Model </th>
      <th>Colour </th>
      <th>Car No. </th>
      <th>Owner</th>
    </thead>
    <tbody>
      <td><%= @car.id %></td>
      <td><%= @car.brand %></td>
      <td><%= @car.model %></td>
      <td><%= @car.colour %></td>
      <td><%= @car.car_number %></td>
      <td><%= @car.car_owner %></td>
    </tbody>
  </table>
</div>
<ul>
    <li><%= link_to "Edit Current Car", edit_car_path(@car) %></li><br>
    <li><%= link_to "All Cars", cars_path %></li><br>
    <li><%= link_to "New Car", new_car_path %></li><br>
    <li><%= link_to "Remove car from this app", car_path(@car), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
<h4><%= link_to 'book parking', new_parking_path(@car.id) %></h4>
<div>
  <%= link_to 'parking history', parkings_path %>
</div>
